<main class="main">
  <div class="weather-list">
    <div class="filters">
      <app-filters
        [cityFilter]="cityFilter"
        [dateFilter]="dateFilter"
        (cityFilterChange)="onCityFilterChange($event)"
        (dateFilterChange)="onDateFilterChange($event)"
      />

      <app-dropdown
        [lang]="lang"
        [languageOptions]="languageOptions"
        (languageChanged)="changeLanguage($event)"
      />
    </div>

    <app-table-list [forecasts]="forecasts" />

    <app-pagination
      [page]="page"
      [pageSize]="pageSize"
      [totalRecords]="totalRecords"
      (pageChange)="changePage($event)"
      (pageSizeChange)="updatePageSize($event)"
    />
  </div>
</main>
